<%- include('partials/_htmlhead') -%>

<h1>The following is available:</h1>
<ul>
    <li><a href="/message/">To show how to process request parameters
            to show custom messages (please check message.ejs) for
            details</a></li>
    <li><a href="/simpleform/">Simple example of how to work with HTML
            forms</a></li>
</ul>

<%- include('partials/_htmlfoot') -%>
